@model IEnumerable<Homework5.Models.MovieViewModel>

@{
    ViewBag.Title = "Movies";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add Movie", "Create")
</p>

<form method="get" action="@Url.Action("Index")" 
    data-movies-ajax="true" data-movies-target ="#movieList">
    <input type="search" name="searchTerm" 
         data-movies-autocomplete="@Url.Action("SearchAutoComplete")" />
    <input type="submit" value="Search" />
</form>


@Html.Partial("_MovieList")

