@model Homework5.Models.MovieViewModel

@{
    ViewBag.Title = "Tags";
}

<h2>@Model.Title</h2>

<p>
    @Html.ActionLink("Create New", "CreateTag",  new { id= Model.Id })
</p>
<table>
    <tr>
     
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
     
        <th></th>
    </tr>
    
    @if (Model.NumTags == 0)
    {
      <tr>
            <td>
                @Html.Encode("There are no tags currently available for this movie")
            </td>
            <th></th>
      </tr>
    }
    else
    {
        foreach (var item in Model.Tags) {
            <tr>
       
                <td>
                    @Html.DisplayFor(modelItem => item.MovieTag)
                </td>
       
                <td>
                    @Html.ActionLink("Edit", "EditTag", new { id=item.Id }) |
           
                    @Html.ActionLink("Delete", "TagDelete", new { id=item.Id })
                </td>
            </tr>
        }
    }
</table>
<div>
    @Html.ActionLink("Back to Movies", "Index")
</div>